<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Nordson OMU Web App Regression Tests on Chrome" thread-count="1" parallel="methods">

<listeners>
<listener class-name="com.nordson.utilities.Reporting" />
<listener class-name="org.uncommons.reportng.HTMLReporter"/>
<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
</listeners>

  <test name="Nordson OMU Web App Regression Tests on Chrome">
      <parameter name="browser" value="chrome"/>
       <classes>
     <!--<class name="com.nordson.testCases.TC_LoginTest_001"/> -->
     
     <class name="com.nordson.testCases.TC_VerifyLinkTests_003"/>  
    
        
     <!--   <class name="com.nordson.testCases.TC_Registration_DDT_002"/> -->
      </classes>
     
       </test> 

   </suite> 
